:root
{
    --yellow-bg : gold;
    --thickBlackBorder: solid 3px black;
    --maintextColor: salmon;
}
a
{
    text-decoration: none;
    color:inherit;
}
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}
.header
{
    display: flex;
    flex-direction: column;
}

.logo
{
    display: flex;
    justify-content: center;
    border-bottom: var(--thickBlackBorder);
    background-color: var(--yellow-bg);
}
.logo img
{
    border-bottom: none;
}
#burger-menu, #toggle
{
    display: none;
}
#wideBody
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.footerDiv
{
    min-height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding: auto;
    border-top: var(--thickBlackBorder);
}

.navbar
{
    background-color: white;
}
.navbar ul
{
    display: flex;
    width: 100%;
    min-height: 5vh;;
    list-style: none;
    flex-wrap: wrap;
}
.navbarItem
{
    display: flex;
    justify-content: center;
    flex: 0 0 calc(100%/3);
    box-sizing: border-box;
    align-items: center;
    font-weight: bold;
}

.navbarItem:first-child
{
    border-bottom: var(--thickBlackBorder);
}

.navbarItem:first-child:hover,
.navbarItem:nth-child(2):hover,
.navbarItem:last-child:hover
{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
    font-size: 1.3rem;
}

.navbarItem:nth-child(2)
{
    border-bottom:var(--thickBlackBorder);
    border-left:var(--thickBlackBorder);
    border-right:var(--thickBlackBorder);
}
.navbarItem:last-child
{
    border-bottom: var(--thickBlackBorder);
}

.wrapper
{
    color: var(--maintextColor);
    font-weight: bold;
    display: flex;
    flex-grow: 1;
    align-items: center;
    overflow: auto;
}

.yellowBg
{
    background-color: var(--yellow-bg);
}

@media (max-width:600px)
{
    .navbar ul 
    {
        flex-direction: column;
        display: none;
    }
    .navbarItem:nth-child(2)
    {
        border:none;
        border-bottom: var(--thickBlackBorder);
    }
    #burger-menu
    {
        color: black;
        width: 30px;
        display: block;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        font-size: 40px;
        cursor: pointer;
    }
    #toggle:checked + ul 
    {
        display: flex;
        z-index: 999;
        height: 80vh;
    }
    .navbar
    {
        border-bottom: var(--thickBlackBorder);
    }
}