.mainCard
{
    color: var(--maintextColor);
    font-weight: bold;
    display: flex;
    flex-grow: 1;
    min-height: 50%;
    border:15px black outset;
    border-radius: 15px;
    margin: 3rem;
    background-color: lightgray;
    color: black;
    flex-wrap: wrap;
}

.text
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-height: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.text>h2,.text>p
{
    text-align: center;
    width: 100%;
}

.text>h2
{
    font-size: 2rem;
}