<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="placeholder" id="placeholder">
gggs
    </div>
</body>
    <script>
        // Chargement initial des blagues
          const apiHost = window.location.hostname === 'localhost' 
            ? 'http://localhost:3000'
            : '${MyIP}:3000'; // Your PC's IP
        (async () => {
            try {
                  const response = await fetch(`${apiHost}/api/v1/jokes/all`);
                if (!response.ok) {
                    throw new Error(`Erreur HTTP! Statut: ${response.status}`);
                }
                
                const jokes = await response.json();
                const container = document.getElementById('placeholder');
                container.innerHTML = ""
                // Ajouter toutes les blagues
                jokes.forEach(joke => {
                    container.innerHTML += ` ${joke.text} ${joke.answer} `; //${var} for string interpolation
                });
                console.log(jokes)

            } catch (error) {
                console.error('Erreur:', error);
                document.getElementById('placeholder').innerHTML = 
                    '<p>Erreur lors du chargement des blagues</p>';
            }
        })();
    </script>
</html>