extends ../layouts/layout

append css 
    link(rel="stylesheet", href="/public/css/home.css")
block title
    title Home

block content
    main.wrapper
        div.mainCard
            div.textBis
                h2 Soyez les bienvenus dans l'usine à blagues Carambar ! 
                p Utilisez la barre de navigation pour visiter les différentes sections du site.