extends ../layouts/layout

block title
    title Toutes les blagues

block content
    main.wrapper.jokeAll
        each joke in jokes
            div.pair
                div.question
                    p=joke.text
                div.answer
                    p=joke.answer
